.panel-button {
  background: none;
  border: none;
  width: 68px;
  height: 36px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.panel-button svg {
  width: 68px;
  height: 36px;
}

#work-space {
  position: fixed;
  left: 120px;
  top: 0px;
  height: 100%;
  width: 100%;
}
