.panel-button {
  background: none;
  border: none;
  width: 80px;
  height: 40px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.panel-button svg {
  width: 80px;
  height: 40px;
}

#work-space {
  position: fixed;
  left: 120px;
  top: 0px;
  height: 100%;
  width: 100%;
}

#work-space-svg {
  height: 100%;
  width: 100%;
}

.drag-holder {
  background: none;
  position: absolute;
  top: 0px;
  left: -100px;
}
