# /node_modules/* and /bower_components/* ignored by default

# Ignore built files
public/build/*

# ignore caicloud-graphql-server as it will be changed to TS and moved to its repo afterwards
routes/caicloud-graphql-server/**
